@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One');
/* @media (min-width: 350) {
  #card {
    display: flex;
    justify-items: center;
  }
} */


* body {
    background-color: cornsilk
}
/*  grid container rows - index
row 1 - header
row 2 - buttons
row 3 - webpage   */

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 5rem
   fr; 
  justify-items: center; 
  align-items:  center;
}

.grid-row-1 {
  grid-area: 1 / 1 / 1 / 1;}

#grid-row-2 {
  grid-area: 2 / 1 / 2 / 1;
  display: inline;
  text-align: center;
  line-height: 1.6rem;
  padding: 0 2rem 0 2rem;
}

#grid-row-3 {
  grid-area: 3 / 1 / 3 / 1;
  /* border: 2px dashed red; */
  display: inline-blokc;

  justify-content: space-between;
  justify-items: top;
  align-items: top;
}

#pagetitle {
  font-family: 'Mochiy Pop One', sans-serif;
  text-align: center;
  background-color: blue;
  padding: 10px 20px 10px 40px;
  margin-bottom: 50px;
  color: yellow;
  border: 8px solid red;
}

#button-grid-2 {
  display:  inline-block;
  background-color: blue;
  color:  yellow;
  font-weight: bold;
  text-align:center;
}

.newbutdiv {
  text-align: center;

}
#newbut{
  background-color: red;
  border: 5px solid blue;
  color: black;
  text-align: justify;
  padding-bottom: 30px;
  font-size: 2rem;
  margin-bottom: 20px;

}

#card {
   display: inline-block;
   text-align: justify;
    /* margin: 0 40px 0 0; */
    margin: 0 auto;
    width: 200px;
    height: 350px;
    text-align: center;
    padding: 2rem 0 2rem 0;
    background-color: red;
    margin: 20px;
    border: 5px solid blue;
    border-radius: 8px;
      }


  .info-container {
    padding: 2px 16px;
    position: relative;
    text-align: center;
    display: block;
   }

  .poke-image {
    height: 175px;
    width: auto;
    max-width: 175px;
    text-align: center;
    border: 10px;
    border-radius: 8px;
  }

  .buttons {
    padding-top: 10px;
    background-color:blue;
    border-color: blue;
    border: 8px;
    border-radius: 8px;
    position: relative;
  }

  #button {
    background-color: yellow;
    font-weight: bold;
    color: black;
    position: relative;
  }
  #buttongrid {
    display: inline-block;
    text-align: center;
    background-color: blue;
    font-weight: bold;
    color: yellow;
    border-right: 8px solid cornsilk;
    border-left: 8px solid cornsilk;
    text-decoration: none;
  }
  #buttonedit {
    text-align: justify;
    background-color: blue;
    font-weight: bold;
    color: yellow;
    border-right: 8px solid cornsilk;
    border-left: 8px solid cornsilk;
    text-decoration: none;
  }

  .buttoneditdiv {
    text-align: center;
  
  }
  .stats {
    text-decoration: none;
  }

  hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  }

  fieldset {
      border-width: 2px;
      color: red;
      margin-left: 5px;
      margin-right: 5px;
      font-size: 1.25rem;
    }


 
  .basic {
    text-align: center;
  }

  .type{
    text-align: center;
    text-decoration: none;
  }

  .stats {
    text-align: center;
    margin: 0 3rem 0 3rem;
    border: none;
    text-align: left;
   
  }
  #showcard {
    display: inline-block;
    text-align: justify;
      /* margin: 0 40px 0 0; */
      margin: 0 auto;
      width: 45rem;
      height: 111rem;
      text-align: center;
      padding: 2rem 0 2rem 0;
      background-color: red;
      margin: 20px;
      border: 10px solid blue;
      border-radius: 8px;
        }
  #displaycard {
    border-width: 2px;
    color: yellow;
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 2rem;
  }
  .showname {
    text-align: center;
  }
  .showimage {
    height: 250px;
    width: auto;
    max-width: 325px;
    text-align: center;
    border: 10px;
    border-radius: 8px;
  }
  .showinfo {
    padding-top: 10px;
    background-color:blue;
    border-color: blue;
    border: 8px;
    border-radius: 8px;
    position: relative;
    padding-bottom: 1.5rem;
  }

  table, td, th {
    border-collapse: collapse;
  }

  td {
    border: 1px solid black;
    border-top:none;
    border-bottom: none;
  }
  /* .papa-container {
    display: inline-block;

  } */