/* @media (min-width: 350) {
  #card {
    display: flex;
    justify-items: center;
  }
} */


* body {
    background-color: cornsilk
}
#pagetitle {
  text-align: center;
  background-color: blue;
  padding: 10px 20px 10px 40px;
  margin-bottom: 50px;
  color: yellow;
  border: 8px solid red;
}

.newbutdiv {
  text-align: center;

}
#newbut{
  background-color: red;
  border: 5px solid blue;
  color: black;
  text-align: justify;
  padding-bottom: 30px;
  font-size: 2rem;
  margin-bottom: 20px;

}

#card {
   display: inline-block;
   text-align: justify;
    /* margin: 0 40px 0 0; */
    margin: 0 auto;
    width: 200px;
    height: 400px;
    text-align: center;
    padding: 2rem 0 2rem 0;
    background-color: red;
    margin: 20px;
    border: 5px solid blue;
    border-radius: 8px;
      }


  .info-container {
    padding: 2px 16px;
    position: relative;
    text-align: center;
    display: block;
   }

  .poke-image {
    height: 175px;
    width: auto;
    max-width: 175px;
    text-align: center;
    border: 10px;
    border-radius: 8px;
  }

  .buttons {
    padding-top: 10px;
    background-color:blue;
    border-color: blue;
    border: 8px;
    border-radius: 8px;
    position: relative;
  }

  #button {
    background-color: yellow;
    font-weight: bold;
    color: black;
    position: relative;
  }

  #buttonedit {
    text-align: justify;
    background-color: blue;
    font-weight: bold;
    color: yellow;
    border-right: 8px solid cornsilk;
    border-left: 8px solid cornsilk;
    text-decoration: none;
  }

  .buttoneditdiv {
    text-align: center;
  
  }
  .stats {
    text-decoration: none;
  }

  hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  }

  fieldset {
      border-width: 2px;
      color: red;
      margin-left: 5px;
      margin-right: 5px;
      font-size: 1.25rem;
    }

 
  .basic {
    text-align: center;
  }

  .type{
    text-align: center;
    text-decoration: none;
  }

  .stats {
    text-align: center;
    margin: 0 3rem 0 3rem;
    border: none;
    text-align: left;
   

  }
  #showcard {
    display: inline-block;
    text-align: justify;
      /* margin: 0 40px 0 0; */
      margin: 0 auto;
      width: 45rem;
      height: 111rem;
      text-align: center;
      padding: 2rem 0 2rem 0;
      background-color: red;
      margin: 20px;
      border: 10px solid blue;
      border-radius: 8px;
        }
  #displaycard {
    border-width: 2px;
    color: yellow;
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 2rem;
  }
  .showname {
    text-align: center;
  }
  .showimage {
    height: 250px;
    width: auto;
    max-width: 325px;
    text-align: center;
    border: 10px;
    border-radius: 8px;
  }
  .showinfo {
    padding-top: 10px;
    background-color:blue;
    border-color: blue;
    border: 8px;
    border-radius: 8px;
    position: relative;
    padding-bottom: 1.5rem;
  }

  table, td, th {
    border-collapse: collapse;
  }

  td {
    border: 1px solid black;
    border-top:none;
    border-bottom: none;
  }
  /* .papa-container {
    display: inline-block;

  } */